doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/styles.css")  
        title Document
    body 
        h1 pug con gulp 
        p.paragrahp Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis modi ut labore odio suscipit adipisci repellat quos nostrum, iusto vero officia magnam sed mollitia molestias alias repellendus eum molestiae consequatur?  
            |Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci natus dolores nisi in provident voluptas suscipit aliquid, quia autem minima voluptatem, nulla, eaque ea placeat quasi corrupti officia nostrum totam.
        

        script(src="js/scripts-min-js")       